:root {
  --aiming-color: #2196f3;
  --main-text-color: #212121;
  --description-text-color: #757575;
  --background-color: #2f303a;
  --body-color: #ffffff;
  --main-fonts: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-fonts);
  font-style: normal;
  color: var(--main-text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* HEADER STYLES >*/
.section-header {
  width: 1600px;
  height: 80px;
  margin: 0;
  /* display: inline-block; */
}
.list-header > li,
.list-header-nav > li,
.list-header-mail,
.list-header-tel {
  display: inline-block;
}
.list-header-nav {
  margin: 32px auto;
}
.list-header-mail {
  margin: 32px auto 32px 331px;
}
.list-header-tel {
  margin: 32px auto 32px 50px;
}

.logo-header {
  color: #000000;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  margin: 24px 93px 25px 215px;
}
.logo-first-part {
  color: var(--aiming-color);
}
.link-header {
  font-family: var(--main-fonts);
  font-style: normal;
  font-weight: 500;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
}
.link-header:hover,
.link-header:focus {
  color: var(--aiming-color);
}
/*< HEADER STYLES */

/* MAIN >*/
.section-main {
  width: 1600px;
}

/* Heading >*/
.section-heading {
  background-color: var(--background-color);
  width: 1200;
  height: 600;
  padding: 200 auto;
}
.section-heading-title {
  width: 696;
  height: 120;
  display: block;
  color: var(--body-color);
  align-items: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  margin: 200px auto 30px auto;
  text-transform: uppercase;
}
.sing-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  padding: 10px 32px;
  background-color: var(--aiming-color);
  color: var(--body-color);
  border: 0;
  border-radius: 4px;
  display: block;
  margin: 0 auto 106px;
  cursor: pointer;
}

/* Features >*/
.section-features {
  width: 1170px;
  height: 101px;
  padding: 0;
  text-align: center;
  margin: 94px 215px;
}
.section-features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  color: #212121;
}
.section-features-text {
  font-size: 14px;
  line-height: 1.714;
  color: #757575;
  margin: 10px auto;
}
.section-features-blok-element {
  width: 270px;
  height: 101px;
  display: inline-block;
  text-align: left;
}

/* AboutUs >*/
.section-about-us {
  width: 1170px;
  height: 386px;
  text-align: center;
}
.about-us-title {
  width: 376px;
  height: 42px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: var(--main-text-color);
  margin: 0 auto 50px auto;
}
.section-about-us li {
  width: 370px;
  height: 294px;
  display: inline-block;
}

/* Pre-footer >*/
.section-pre-footer {
  width: 1600;
  height: 648;
  text-align: center;
  margin: 94px 0 0 0;
  background-color: #f5f4fa;
}
.section-pre-footer li {
  display: inline-block;
}
.section-pre-footer ul {
  width: 1170px;
  margin: 50px 215px 94px 215px;
}

/*< MAIN */

/* Footer >*/
.section-footer {
  width: 1600px;
  height: 252px;
  background-color: var(--background-color);
}
.logo-footer {
  width: 145px;
  height: 31px;
  color: var(--body-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  margin: 60px auto 20px 215px;
}
.link-footer {
  font-family: var(--main-fonts);
  font-style: normal;
  font-weight: 500;
  color: var(--body-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  margin: 20px auto 60px 215px;
}
.link-footer:hover,
.link-footer:focus {
  color: var(--aiming-color);
}
.link-footer-transparensy {
  color: rgba(255, 255, 255, 0.6);
}
